
#topbar {
  background-color: aquamarine;
  height: 20px;
  width: 100vw;
}
body {
  background-color: grey;
}

#header {
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}
#header img {
  height: 80px;
  width: 150px;
}

#header ul li {
  display: inline;
  margin-right: 3vw;
  margin-left: 3vw;
  
}
#header ul li a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
}
#welcome{
    color: red;
    font-size: 40px;
    margin-left: 2vw;
    
   
}
#img{
    width: 100vw;
   
    height: 50bvh;
   
}
#footer{
    display: flex;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}
#text{
    width: 100vw;
    height: 200px;
    margin-left: 40vw;
    position: absolute;
}
#search{
    width: 400px;
    height: 30px;
    border-radius: 15px;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: ;
    
}
#name{
    margin-left: 23px;
}
#email{
    margin-left: 13px;
}
button{
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin-left: 3vw;
}